{% include "head.html" %}
{% load mptt_tags filters %}
    <body>
        <ul class="root">
            {% for o, structure in categories|tree_info %}
                {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
                    <a href="{{STATIC_URL}}/categories/{{ o.url }}">{{ o.title }}</a>
                    <!--<a href="{\% url category_detail o.url %\}">{{ o.title }}</a>-->
                {% for level in structure.closed_levels %}</li></ul>{% endfor %}
            {% endfor %}
        </ul>
    </body>
</html>
