{% load filters %}
<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8/>
    <title></title>
    <link rel="stylesheet" type="text/css" media="screen"
          href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <style>
        .hidden {
            display: none;
        }
    </style>

</head>
<body>

<table id="example" class="display" width="100%" cellspacing="0">
    <thead>
    <tr>
        <th>Nom catégorie</th>
    </tr>
    </thead>
    <tbody>

    {% for o in categories %}
    <tr>
        <td>{{ o.title }} <span class="hidden">{{ o.title|stripaccents }} </span></td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<script>
    $(document).ready(function () {

        $('#example').dataTable({
            "search": {
                "caseInsensitive": true
            },
            "pageLength": 100,
            "language": {
                "sProcessing": "Traitement en cours...",
                "sSearch": "Rechercher&nbsp;:",
                "sLengthMenu": "Afficher _MENU_ &eacute;l&eacute;ments",
                "sInfo": "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "sInfoEmpty": "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "sInfoPostFix": "",
                "sLoadingRecords": "Chargement en cours...",
                "sZeroRecords": "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "sEmptyTable": "Aucune donn&eacute;e disponible dans le tableau",
                "oPaginate": {
                    "sFirst": "Premier",
                    "sPrevious": "Pr&eacute;c&eacute;dent",
                    "sNext": "Suivant",
                    "sLast": "Dernier"
                },
                "oAria": {
                    "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                    "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                }
            }
        });
    });
</script>


</body>
</html>