{% include "head.html" %}
    <form action="/reponse" method="POST">
        <table style="margin-left:auto;margin-right:auto;">
            <tr>
                <td>Nom :</td>
                <td><input name="nom" maxlength="20" autofocus></td>
            </tr>
            <tr>
                <td>Prenom : </td>
                <td><input name="prenom" maxlength="50"></td>
            </tr>
        </table>
        <div style="text-align:center;margin:0px;"><input type="submit" id="valider" value="Connexion"></div>
    </form>
</html>