/*////////////////////////////////////////////////////////////////////////
//header
////////////////////////////////////////////////////////////////////////*/

html
{
    padding:10px;
}

header
{
    margin-top:-20px;
    margin-bottom:50px;
}

header #logo
{
	background-color:#E2E2E2;
	border-radius:10px;
	height:95px;
    width:250px;
    float:left;
    margin-left:0px;
	position: relative;
}

header #logo img
{
	height:88%;
    top:6%;
    left:5%;
	position:absolute;
}

header #logo h1
{
	font-family:"Arial";
    color:#7C0000;
    font-size:30px;
	left:45%;
    transform: translateY(-50%); 
    top:0%;
    position: absolute;
}

header nav
{	
	background-color:#E2E2E2;
	border-radius:10px;
	height:95px;
	width:615px;
	margin-left:auto;
    margin-right:auto;
    position: relative;
}

header nav a
{
	font-size:30px;
	font-family:"Arial";
	color:#1111A0;
	text-decoration:none;
}

header nav a:hover
{
	color:#7C0000;
	text-decoration:underline;
}


header ul
{
	list-style-type:none;
}

header nav li
{
	display:inline-block;
	margin-left:30px;
	margin-top:26px;
}

header .slogan
{
    width:535px;
    margin-left:auto;
    margin-right:auto;
    margin-top:-7px;
    position: relative;
    
}

@media screen and (max-width:1150px)
{
    header #logo
	{
		width:95px;
	}
	header #logo h1
	{
		display:none;
	}
}

@media screen and (max-width:850px)
{
	header #logo
	{
		display:none;
	}
}

@media screen and (max-width:500px)
{	
	header nav
	{	
		height:220px;
		width:250px;
		padding-left:0px;
		padding-top:1px;
	}
	
	header nav a
	{
		font-size:15px;
	}
	
	header nav ul
	{
		list-style-type:circle;
	}
	
	header nav li
	{
		display:list-item;
	}
    header .slogan
    {
        display:none;
    }
}


/*////////////////////////////////////////////////////////////////////////
//div
////////////////////////////////////////////////////////////////////////*/

.presentation
{
    width:75%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    word-spacing:50px;
}

.presentation div
{
    display:inline-block;
    width:300px;
    word-spacing:5px;
    margin-top:25px;
}

.presentation div h2
{
    text-align:center;
}

.presentation div p
{
    text-align:left;
}

.block
{
    height:150px;
    width:150px;
    text-align:center;
    margin:20px;
    background-color:cyan;
    color:blue;
    display:inline-block;
}

iframe
{
    display:block;
    margin-left:auto;
    margin-right:auto;
}