/*////////////////////////////////////////////////////////////////////////
//header
////////////////////////////////////////////////////////////////////////*/

html
{
    padding:1em;
}

header
{
    margin-top:-1.75em;
    margin-bottom:5em;
}

header #logo
{
	background-color:#E2E2E2;
	border-radius:1em;
	height:7em;
    width:19em;
    float:left;
    margin-left:0em;
	position: relative;
}

header #logo img
{
	height:88%;
    top:6%;
    left:5%;
	position:absolute;
}

header #logo h1
{
	font-family:"Arial";
    color:#7C0000;
    font-size:2.3em;
	left:45%;
    transform: translateY(-50%); 
    top:0%;
    position: absolute;
}

header nav
{
	background-color:#E2E2E2;
	border-radius:1em;
	height:7em;
	width:49em;
	margin-left:auto;
    margin-right:auto;
    position: relative;
}

header nav a
{
    font-family:"Arial";
	color:#1111A0;
	font-size:2.3em;
	text-decoration:none;
}

header nav a:hover
{
	color:#7C0000;
	text-decoration:underline;
}


header ul
{
	list-style-type:none;
}

header nav li
{
	display:inline-block;
	margin-left:2.8em;
	margin-top:2em;
}

header .slogan
{
    width:30em;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    font-size:1.4em;
}

@media screen and (max-width:78em)
{
    header #logo
	{
		width:6.9em;
	}
	header #logo h1
	{
		display:none;
	}
}

@media screen and (max-width:57em)
{
	header #logo
	{
		display:none;
	}
}

@media screen and (max-width:40em)
{	
	header nav
	{	
		height:17em;
		width:17em;
		padding-left:0em;
		padding-top:0.4em;
	}
	
	header nav a
	{
		font-size:1em;
	}
	
	header nav ul
	{
		list-style-type:circle;
	}
	
	header nav li
	{
		display:list-item;
	}
    header .slogan
    {
        display:none;
    }
}


/*////////////////////////////////////////////////////////////////////////
//div
////////////////////////////////////////////////////////////////////////*/

.presentation
{
    width:75%;
    margin-left:auto;
    margin-right:auto;
    word-spacing:4.5em;
    text-align:center;
}

.presentation div
{
    display:inline-block;
    width:22em;
    word-spacing:0.4em;
    margin-top:2em;
}

.presentation div h2
{
    text-align:center;
}

.presentation div p
{
    text-align:justify;
}

.block
{
    height:12em;
    width:12em;
    margin:1.5em;
    display:inline-block;
}

iframe
{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

ul
{
    list-style-type:square;
}

ul a
{
    font-size:1.2em;
}

table
{
	border-collapse:collapse;
    background-color:#9E9E9E;
}

table th, table td
{
    border:1px solid black;
    padding:5px;
}

table th
{
	font-weight:bold;
    background-color:#626262;
	color:#FFFFFF;
}

table td
{
	color:#000000;
}

table tr:hover
{
    background-color:#BCBCBC;
}