{% extends "index.html" %}
{% load static %}
{% load mptt_tags %}
{% load filters %}
{% include 'autocomplete_light/static.html' %}

{% block main %}

        <h1>utilisteurs</h1>
        <table id="example" class="display" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>username</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>e-mail</th>
                <th>Voir variétées</th>
            </tr>
            </thead>
            <tbody>
            
            {% for o in users %}
            <tr>
                <td>{{ o.user.username }}</td>
                <td>{{ o.user.last_name }}</td>
                <td>{{ o.user.first_name }}</td>
                <td>{{ o.user.email }}</td>
                <td><a href="/varieties_inventory/user/{{ o.code }}">Voir</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        
{% endblock %}