<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title></title>
    <link rel="stylesheet" type="text/css" media="screen" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->
		<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>


</head>
<body>

<table id="example" class="display" width="100%" cellspacing="0">
    <thead>
    <tr>
        <th>Nom commun</th>
        <th>Nom latin</th>
        <th>Catégories</th>
    </tr>
    </thead>
    <tbody>

        {% for o in varieties %}
            <tr>
                <td>{{ o.title }}</td>
                <td>{{ o.latin }}</td>
                <td>{{ o.category}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


        <script>
         $(document).ready(function() {
    $('#example').DataTable();
} );
        </script>
</body>
</html>