{% extends "index.html" %}
{% load static %}
{% load mptt_tags %}
{% load filters %}
{% include 'autocomplete_light/static.html' %}

{% block main %}
    <h1>Ajouter une personne au group : </h1>
    {{ message }}
    <form action="" method="POST">{% csrf_token %}
        Nom de l'utilisateur à ajouter : 
        <input name="user"/>
        <select name='rank'>
            <option value="0">Utilisateur</option>
            <option value="1">Modérateur</option>
            <option value="2">Administrateur</option>
        </select>
        <input type="submit" value="Ajouter"/>
    </form>
{% endblock %}