{% load filters %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8/>
        <title>Graino</title>
        <link rel="stylesheet" type="text/css" media="screen" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css"/>
        <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/style.css"/>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="{{STATIC_URL}}/meda/rocssti-fr.css"/>
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
    </head>