{% include "head.html" %}
            <div class="aligncenter">
                <a href="{{STATIC_URL}}/categories/aromatiques">
                <div class="block">
                    Aromatiques
                </div>
                </a>
                <a href="{{STATIC_URL}}/categories/legumes-feuilles">
                <div class="block">
                    Feuilles
                </div>
                </a>
                <a href="{{STATIC_URL}}/categories/fruitiers">
                <div class="block">
                    Fruits
                </div>
                </a>
                <a href="{{STATIC_URL}}/categories/legumes-racines">
                </br>
                <div class="block">
                    Racines
                </div>
                </a>
                <a href="{{STATIC_URL}}/categories/medicinales">
                <div class="block">
                    Médicales
                </div>
                </a>
                <a href="{{STATIC_URL}}/categories/graines">
                <div class="block">
                    Grains
                </div>
                </a>
            </div>
        </body>
</html>