{% extends "index.html" %}
{% load static %}
{% include 'autocomplete_light/static.html' %}

{% block main %}
            <div class="presentation">
                <div>
                   <h2>Conserver</h2>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt sem eget nisl placerat, eu interdum tortor scelerisque. Nunc nunc urna, pharetra a nulla id, bibendum varius orci. Sed ipsum eros, ullamcorper vel pulvinar id, sodales non metus. Proin nec auctor nunc, ut semper risus. Vivamus tristique lorem ipsum, nec porta sapien malesuada eu. Mauris leo neque, elementum sed erat id, gravida mattis tellus. Aliquam erat volutpat. Integer pellentesque vitae erat sed scelerisque. </p>
                </div>
                <div>
                   <h2>Partager</h2>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt sem eget nisl placerat, eu interdum tortor scelerisque. Nunc nunc urna, pharetra a nulla id, bibendum varius orci. Sed ipsum eros, ullamcorper vel pulvinar id, sodales non metus. Proin nec auctor nunc, ut semper risus. Vivamus tristique lorem ipsum, nec porta sapien malesuada eu. Mauris leo neque, elementum sed erat id, gravida mattis tellus. Aliquam erat volutpat. Integer pellentesque vitae erat sed scelerisque. </p>
                </div>
                <div>
                   <h2>Documenter</h2>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt sem eget nisl placerat, eu interdum tortor scelerisque. Nunc nunc urna, pharetra a nulla id, bibendum varius orci. Sed ipsum eros, ullamcorper vel pulvinar id, sodales non metus. Proin nec auctor nunc, ut semper risus. Vivamus tristique lorem ipsum, nec porta sapien malesuada eu. Mauris leo neque, elementum sed erat id, gravida mattis tellus. Aliquam erat volutpat. Integer pellentesque vitae erat sed scelerisque. </p>
                </div>
            </div>
            
            <h1 class="aligncenter">Graines potagères</h1>
            <div class="aligncenter">
                <a href="{{STATIC_URL}}/categories/aromatiques">
                    <img class="block" src="/{{ aromatiques.illustration }}" alt="Aromatiques" title="Aromatiques"/>
                </a>
                <a href="{{STATIC_URL}}/categories/legumes-feuilles">
                    <img class="block" src="/{{ legumes_feuilles.illustration }}" alt="Feuilles" title="Feuilles"/>
                </a>
                <a href="{{STATIC_URL}}/categories/fruitiers">
                    <img class="block" src="/{{ fruitiers.illustration }}" alt="Fruits" title="Fruits"/>
                </a>
                </br>
                <a href="{{STATIC_URL}}/categories/legumes-racines">
                    <img class="block" src="/{{ legumes_racines.illustration }}" alt="Racines" title="Racines"/>
                </a>
                <a href="{{STATIC_URL}}/categories/medicinales">
                    <img class="block" src="/{{ medicinales.illustration }}" alt="Médicinales" title="Médicinales"/>
                </a>
                <a href="{{STATIC_URL}}/categories/graines-potageres">
                    <img class="block" src="/{{ graines_potageres.illustration }}" alt="Grains" title="Grains"/>
                </a>
            </div>
            
            <h1 class="aligncenter">Rechercher une categorie / variétée</h1>
            
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>
            <form class="aligncenter" action="/search/" method="GET">
                <input name='search' placeholder='Tapez votre recherche ici'/>
                <input type="submit" value="Rechercher"/>
            </form>
            
            <h1 class="aligncenter">Votre position</h1>
            
            {% if request.user.is_authenticated %}
                
                <div id="map" style="height:400px;width:800px;margin-left:auto;margin-right:auto;"></div>
                    <script>
                        $(document).ready(function(){
                         var map = new GMaps({
                            el: '#map',
                            lat: '{{pos.lat}}',
                            lng: '{{pos.lng}}',
                            zoom: 12,
                            zoomControl : true,
                            zoomControlOpt: {
                                style : 'SMALL',
                                position: 'TOP_LEFT'
                            },
                            panControl : false,
                          });
                          map.addMarker({
                            lat: '{{pos.lat}}',
                            lng: '{{pos.lng}}'
                          });
                        });
                    </script>
            {% else %}
                <h1 class="aligncenter">Les grainotèques</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d88916.29497592128!2d1.161686480435562!3d45.858619500272816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f934afe6680461%3A0x10be4a3159364d11!2sLimoges!5e0!3m2!1sfr!2sfr!4v1464885277511" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            {% endif %}

{% endblock %}