{% load static %}
{% load filters %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Grainothèque</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script async defer type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyA4GM0-n771KmiyKzLKxyY9ZKZb8rtZl9o&callback=GMaps"></script>
        <script type="text/javascript" src="{% static 'js/gmaps.js' %}"></script>
        
        {# include 'autocomplete_light/static.html' #}
        
        <link rel="stylesheet" href="{% static 'css/rocssti-fr.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        
        
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>    
        <header>
            <a href="/" title="Accueil">
                <div id="logo">
                    <img src="{% static "img/logo.png" %}" alt="Logo du site." title="Logo"/>
                    <h1>Grainothèque</h1>
                </div>
            </a>
            <nav>
                <ul>
                    <li><a href="/" title="accueil">Accueil</a></li>
                    <li><a href="/categories" title="Categories">Catégories</a></li>
                    <li><a href="/aide" title="Aide">Aide</a></li>
                    <li><a href="https://github.com/martinsam/graino" title="Github">Github</a></li>
                </ul>
            </nav>
            <div class="slogan nomobile">Plateforme d'échange de semences libres</div>
            
            {% if request.user.is_authenticated %}
                <a href="{{STATIC_URL}}/logout/">Deconnexion</a>
                <a href="{{STATIC_URL}}/me/">Informations utilisateur</a>
                <a href="{{STATIC_URL}}/add/categories/">Ajouter categorie</a>
                <a href="{{STATIC_URL}}/varieties_inventory/">Inventaire</a>
                <a href="{{STATIC_URL}}/varieties_request/">Demandes</a>
                <a href="{{STATIC_URL}}/user_list/">User liste</a>
                <a href="{{STATIC_URL}}/group/list/">liste des groups</a>
                <a href="{{STATIC_URL}}/group/choice/">Identification</a>
            {% else %}
                <a href="{{STATIC_URL}}/login/">Connexion</a>
            {% endif %}
        </header>
        {% block main %}
        
        {% endblock %}
        
    </body>
</html>
